<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=Edit">
    <title>Edit</title>
</head>
<body>
    <form method="post" action="/user/dhruvi?_method=patch">
        <textarea name="name"><%= ans.name%></textarea>
        <input type="password" name="password" placeholder="enter password">
        <button>Edit</button>
    </form>
</body>
</html>