
<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> LDCE STUDENT REGISTER </title>
    <link rel="stylesheet" href="/css/Student_register.css" type="text/css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">
    <div class="title">Registration</div>
    <div class="content">
      <form action="/register" method="post">
        <div class="user-details">
          <div class="input-box">
            <span class="details">Full Name</span>
            <input  placeholder="Enter your name" name="Full_Name" required>
          </div>
          <div class="input-box">
            <span class="details">Enrollment_no</span>
            <input  placeholder="Enter your Enrollment number" name="Enrollment_no" required>
          </div>
          <div class="input-box">
            <span class="details">Email</span>
            <input placeholder="Enter your email"  name="Email" required>
          </div>
          <div class="input-box">
            <span class="details">Phone Number</span>
            <input  placeholder="Enter your number" name ="Phone_Number" required>
          </div>
          <div class="input-box">
            <span class="details">Password</span>
            <input  placeholder="Enter your password" name="pass" required>
          </div>
          <div class="input-box">
            <span class="details">Semester</span>
            <input  placeholder="Enter your Sem" name="Semester" required>
          </div>
        </div>
        <div class="Divison-details">
          <input type="radio" name="Division" id="dot-1">
          <input type="radio" name="Division" id="dot-2">
          <input type="radio" name="Division" id="dot-3">
          <span class="Division-title">Division</span>
          <div class="category">
            <label for="dot-1">
            <span class="dot one"></span>
            <span class="Division">A</span>
          </label>
          <label for="dot-2">
            <span class="dot two"></span>
            <span class="Division">B</span>
          </label>
          <label for="dot-3">
            <span class="dot three"></span>
            <span class="Division">C</span>
            </label>
          </div>
        </div>
        <div class="button">
          <input type="submit" value="Register">
        </div>
      </form>
    </div>
  </div>

</body>
</html>