<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>LDCE STUDENT LOGIN</title>
      <link rel="stylesheet" href="/css/Student_login.css" type="text/css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
   </head>
   <body>
      <div class="center">
         <input type="checkbox" id="show">
         <label for="show" class="show-btn">View Form</label>
         <div class="container">
            <label for="show" class="close-btn fas fa-times" title="close"></label>
            <div class="text">
               Login Form
            </div>
            <form action="/authenticate" method="post">
               <div class="data">
                  <label>Enrollment_no</label>
                  <input type="text" name="Enrollment_no" required>
               </div>
               <div class="data">
                  <label>password</label>
                  <input type="text" name="password" required>
               </div>
               <div class="forgot-pass">
                  <a href="#">Forgot Password?</a>
               </div>
               <div class="btn">
                  <div class="inner"></div>
                  <button type="submit">login</button>
               </div>
               <div class="signup-link">
                  Not a member? <a href="/user">Signup now</a>
               </div>
            </form>
         </div>
      </div>
   </body>
</html>